.bee-r ow,
.bee-row-content {
    position: relative
}

.bee-form .bee-form-row .bee-field button {
    font-family: inherit;
    font-size: inherit
}

.bee-button .content,
.bee-row-20 .bee-col-2 .bee-block-4 {
    text-align: center
}

.bee-row-13 .bee-row-content,
.bee-row-18 .bee-col-2,
.bee-row-4,
.bee-row-9 .bee-col-2 {
    background-color: #000000
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Oswald, Arial, Helvetica Neue, Helvetica, sans-serif
}

.bee-row-2 .bee-col-2 .bee-block-1 li a,
a {
    color: #ffffff
}

* {
    box-sizing: border-box
}

body,
p {
    margin: 0
}

.bee-desktop_hide {
    display: none
}

.bee-row-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex
}

.bee-row-content .bee-col-w3 {
    flex-basis: 25%
}

.bee-row-content .bee-col-w4 {
    flex-basis: 33%
}

.bee-row-content .bee-col-w6 {
    flex-basis: 50%
}

.bee-row-20 .bee-col-2 .bee-block-4 div.label:not(.inline),
.bee-row-20 .bee-col-2 .bee-block-4 label:not(.inline),
.bee-row-content .bee-col-w12 {
    flex-basis: 100%
}

.bee-button a,
.bee-icon .bee-icon-label-right a,
.bee-menu ul li a {
    text-decoration: none
}

.bee-divider,
.bee-image {
    overflow: auto
}

.bee-image .bee-center {
    margin: 0 auto
}

.bee-row-12 .bee-col-3 .bee-block-1,
.bee-row-2 .bee-col-1 .bee-block-1,
.bee-row-20 .bee-col-2 .bee-block-4 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
.bee-row-24 .bee-col-3 .bee-block-4,
.bee-row-7 .bee-col-1 .bee-block-2,
.bee-row-7 .bee-col-2 .bee-block-2,
.bee-row-7 .bee-col-3 .bee-block-2 {
    width: 100%
}

.bee-form .bee-form-row .bee-field {
    padding: 3px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center
}

.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]) {
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit
}

.bee-form .bee-form-row .bee-field .bee-button-container {
    flex-grow: 1
}

.bee-form input[type=color] {
    border: none;
    height: 38px
}

.bee-form input[type=color]::-webkit-color-swatch-wrapper {
    margin: 0;
    padding: 2px
}

.bee-menu ul {
    margin: 0;
    padding: 0
}

.bee-form input[type=color]::-webkit-color-swatch {
    margin: 0;
    padding: 0
}

.bee-icon {
    display: inline-block;
    vertical-align: middle
}

.bee-icon .bee-content {
    display: flex;
    align-items: center
}

.bee-image img {
    display: block;
    width: 100%
}

.bee-menu ul {
    list-style-type: none
}

.bee-menu ul.bee-horizontal li {
    display: inline-block
}

.bee-social .icon img {
    max-height: 32px
}

.bee-paragraph {
    overflow-wrap: anywhere
}

.bee-row-1,
.bee-row-13,
.bee-row-2,
.bee-row-24,
.bee-row-3 {
    background-color: #000000;
    background-repeat: no-repeat
}

.bee-row-1 .bee-row-content,
.bee-row-10 .bee-row-content,
.bee-row-11 .bee-row-content,
.bee-row-12 .bee-row-content,
.bee-row-14 .bee-row-content,
.bee-row-15 .bee-row-content,
.bee-row-16 .bee-row-content,
.bee-row-17 .bee-row-content,
.bee-row-18 .bee-row-content,
.bee-row-19 .bee-row-content,
.bee-row-2 .bee-row-content,
.bee-row-20 .bee-row-content,
.bee-row-21 .bee-row-content,
.bee-row-22 .bee-row-content,
.bee-row-23 .bee-row-content,
.bee-row-24 .bee-row-content,
.bee-row-3 .bee-row-content,
.bee-row-5 .bee-row-content,
.bee-row-6 .bee-row-content,
.bee-row-7 .bee-row-content,
.bee-row-8 .bee-row-content,
.bee-row-9 .bee-row-content {
    background-repeat: no-repeat;
    color: #000000
}

.bee-row-2 .bee-col-1 .bee-block-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px
}

.bee-row-2 .bee-col-2 .bee-block-1 {
    color: #ffffff;
    font-family: Oswald, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: right
}

.bee-row-4 {
    background-image: url('https://27bfeaa568.imgdist.com/public/users/Integrators/BeeProAgency/1058118_1043310/giphy_2.gif');
    background-repeat: no-repeat;
    background-size: cover
}

.bee-row-4 .bee-row-content {
    background-repeat: no-repeat;
    background-size: auto;
    color: #000000
}

.bee-row-11 .bee-col-1 .bee-block-1,
.bee-row-11 .bee-col-3 .bee-block-1,
.bee-row-12 .bee-col-1 .bee-block-1,
.bee-row-12 .bee-col-2 .bee-block-3,
.bee-row-12 .bee-col-2 .bee-block-6,
.bee-row-12 .bee-col-2 .bee-block-9,
.bee-row-15 .bee-col-1 .bee-block-1,
.bee-row-18 .bee-col-1 .bee-block-1,
.bee-row-18 .bee-col-3 .bee-block-1,
.bee-row-20 .bee-col-1 .bee-block-1,
.bee-row-20 .bee-col-3 .bee-block-1,
.bee-row-4 .bee-col-1 .bee-block-1,
.bee-row-4 .bee-col-3 .bee-block-1,
.bee-row-5 .bee-col-1 .bee-block-1,
.bee-row-9 .bee-col-1 .bee-block-1,
.bee-row-9 .bee-col-3 .bee-block-1 {
    padding: 10px
}

.bee-row-11 .bee-col-2 .bee-block-11,
.bee-row-11 .bee-col-2 .bee-block-3,
.bee-row-11 .bee-col-2 .bee-block-7,
.bee-row-16 .bee-col-2 .bee-block-2,
.bee-row-20 .bee-col-2 .bee-block-3,
.bee-row-22 .bee-col-3 .bee-block-8,
.bee-row-24 .bee-col-1,
.bee-row-24 .bee-col-2,
.bee-row-24 .bee-col-3,
.bee-row-4 .bee-col-2 .bee-block-2,
.bee-row-4 .bee-col-2 .bee-block-3,
.bee-row-4 .bee-col-2 .bee-block-5,
.bee-row-5 .bee-col-2 .bee-block-11,
.bee-row-5 .bee-col-2 .bee-block-3,
.bee-row-5 .bee-col-2 .bee-block-7,
.bee-row-7 .bee-col-1 .bee-block-6,
.bee-row-7 .bee-col-2 .bee-block-6,
.bee-row-7 .bee-col-3 .bee-block-6 {
    padding-left: 20px
}

.bee-row-4 .bee-col-2 .bee-block-7 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left
}

.bee-row-10,
.bee-row-11,
.bee-row-12,
.bee-row-17,
.bee-row-18,
.bee-row-19,
.bee-row-20,
.bee-row-21,
.bee-row-23,
.bee-row-5,
.bee-row-6,
.bee-row-8,
.bee-row-9 {
    background-repeat: no-repeat
}

.bee-row-5 .bee-col-1 {
    padding-bottom: 5px
}

.bee-row-5 .bee-col-2 {
    padding-bottom: 5px;
    padding-top: 40px
}

.bee-row-11 .bee-col-2 .bee-block-1,
.bee-row-11 .bee-col-2 .bee-block-5,
.bee-row-11 .bee-col-2 .bee-block-9,
.bee-row-12 .bee-col-2 .bee-block-2,
.bee-row-12 .bee-col-2 .bee-block-5,
.bee-row-12 .bee-col-2 .bee-block-8,
.bee-row-14 .bee-col-1 .bee-block-2,
.bee-row-14 .bee-col-2 .bee-block-4,
.bee-row-14 .bee-col-2 .bee-block-5,
.bee-row-14 .bee-col-3 .bee-block-4,
.bee-row-14 .bee-col-3 .bee-block-5,
.bee-row-15 .bee-col-2 .bee-block-3,
.bee-row-15 .bee-col-2 .bee-block-4,
.bee-row-15 .bee-col-3 .bee-block-3,
.bee-row-15 .bee-col-3 .bee-block-4,
.bee-row-16 .bee-col-1 .bee-block-2,
.bee-row-18 .bee-col-2 .bee-block-2,
.bee-row-20 .bee-col-2 .bee-block-1,
.bee-row-22 .bee-col-1 .bee-block-2,
.bee-row-22 .bee-col-2 .bee-block-10,
.bee-row-22 .bee-col-2 .bee-block-12,
.bee-row-22 .bee-col-2 .bee-block-14,
.bee-row-22 .bee-col-2 .bee-block-16,
.bee-row-22 .bee-col-2 .bee-block-2,
.bee-row-22 .bee-col-2 .bee-block-4,
.bee-row-22 .bee-col-2 .bee-block-6,
.bee-row-22 .bee-col-2 .bee-block-8,
.bee-row-22 .bee-col-3 .bee-block-10,
.bee-row-22 .bee-col-3 .bee-block-12,
.bee-row-22 .bee-col-3 .bee-block-14,
.bee-row-22 .bee-col-3 .bee-block-16,
.bee-row-22 .bee-col-3 .bee-block-2,
.bee-row-22 .bee-col-3 .bee-block-4,
.bee-row-22 .bee-col-3 .bee-block-6,
.bee-row-5 .bee-col-2 .bee-block-1,
.bee-row-5 .bee-col-2 .bee-block-5,
.bee-row-5 .bee-col-2 .bee-block-9,
.bee-row-7 .bee-col-1 .bee-block-4,
.bee-row-7 .bee-col-2 .bee-block-4,
.bee-row-7 .bee-col-3 .bee-block-4,
.bee-row-9 .bee-col-2 .bee-block-2 {
    padding-left: 15px
}

.bee-row-5 .bee-col-3 {
    padding-bottom: 5px;
    padding-top: 60px
}

.bee-row-5 .bee-col-3 .bee-block-1 {
    padding-left: 60px;
    width: 100%
}

.bee-row-10 .bee-col-1,
.bee-row-11 .bee-col-1,
.bee-row-11 .bee-col-2,
.bee-row-11 .bee-col-3,
.bee-row-12 .bee-col-1,
.bee-row-12 .bee-col-2,
.bee-row-12 .bee-col-3,
.bee-row-13 .bee-col-1,
.bee-row-17 .bee-col-1,
.bee-row-19 .bee-col-1,
.bee-row-20 .bee-col-1,
.bee-row-20 .bee-col-2,
.bee-row-20 .bee-col-3,
.bee-row-21 .bee-col-1,
.bee-row-23 .bee-col-1,
.bee-row-25 .bee-col-1,
.bee-row-6 .bee-col-1,
.bee-row-8 .bee-col-1 {
    padding-bottom: 5px;
    padding-top: 5px
}

.bee-row-16,
.bee-row-22,
.bee-row-7 {
    background-color: #e1e1e1;
    background-repeat: no-repeat
}

.bee-row-13 .bee-row-content {
    background-repeat: no-repeat;
    color: #000000
}

.bee-row-14,
.bee-row-15,
.bee-row-25,
.bee-row-25 .bee-row-content {
    background-color: #ffffff;
    background-repeat: no-repeat
}

.bee-row-14 .bee-col-2 .bee-block-2,
.bee-row-14 .bee-col-3 .bee-block-2,
.bee-row-15 .bee-col-2 .bee-block-1,
.bee-row-15 .bee-col-3 .bee-block-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.bee-row-14 .bee-col-2 .bee-block-6,
.bee-row-14 .bee-col-3 .bee-block-6,
.bee-row-15 .bee-col-2 .bee-block-5,
.bee-row-15 .bee-col-3 .bee-block-5 {
    padding: 10px;
    text-align: left
}

.bee-row-16 .bee-col-3 .bee-block-2 {
    padding-left: 15px;
    width: 100%
}

.bee-row-20 .bee-col-2 .bee-block-4 {
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    padding: 10px 10px 10px 15px
}

.bee-row-24 .bee-col-1 .bee-block-4,
.bee-row-24 .bee-col-1 .bee-block-7,
.bee-row-24 .bee-col-2 .bee-block-10,
.bee-row-24 .bee-col-2 .bee-block-5,
.bee-row-24 .bee-col-2 .bee-block-6,
.bee-row-24 .bee-col-2 .bee-block-9 {
    padding-right: 10px
}

.bee-row-24 .bee-col-1 .bee-block-12,
.bee-row-24 .bee-col-1 .bee-block-6,
.bee-row-24 .bee-col-1 .bee-block-9,
.bee-row-24 .bee-col-2 .bee-block-4,
.bee-row-24 .bee-col-2 .bee-block-8 {
    text-align: left
}

.bee-row-25 .bee-row-content {
    color: #000000
}

.bee-row-25 .bee-col-1 .bee-block-1 {
    color: #1e0e4b;
    font-family: Inter, sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center
}

.bee-row-2 .bee-col-1 .bee-block-2 {
    color: #555555;
    font-size: 30px;
    line-height: 120%;
    text-align: center
}

.bee-row-11 .bee-col-2 .bee-block-1 a,
.bee-row-11 .bee-col-2 .bee-block-11 a,
.bee-row-11 .bee-col-2 .bee-block-3 a,
.bee-row-11 .bee-col-2 .bee-block-5 a,
.bee-row-11 .bee-col-2 .bee-block-7 a,
.bee-row-11 .bee-col-2 .bee-block-9 a,
.bee-row-12 .bee-col-2 .bee-block-2 a,
.bee-row-12 .bee-col-2 .bee-block-5 a,
.bee-row-12 .bee-col-2 .bee-block-8 a,
.bee-row-14 .bee-col-1 .bee-block-2 a,
.bee-row-14 .bee-col-2 .bee-block-4 a,
.bee-row-14 .bee-col-2 .bee-block-5 a,
.bee-row-14 .bee-col-3 .bee-block-4 a,
.bee-row-14 .bee-col-3 .bee-block-5 a,
.bee-row-15 .bee-col-2 .bee-block-3 a,
.bee-row-15 .bee-col-2 .bee-block-4 a,
.bee-row-15 .bee-col-3 .bee-block-3 a,
.bee-row-15 .bee-col-3 .bee-block-4 a,
.bee-row-16 .bee-col-1 .bee-block-2 a,
.bee-row-16 .bee-col-2 .bee-block-2 a,
.bee-row-18 .bee-col-2 .bee-block-2 a,
.bee-row-2 .bee-col-1 .bee-block-2 a,
.bee-row-20 .bee-col-2 .bee-block-1 a,
.bee-row-20 .bee-col-2 .bee-block-3 a,
.bee-row-22 .bee-col-1 .bee-block-2 a,
.bee-row-22 .bee-col-2 .bee-block-10 a,
.bee-row-22 .bee-col-2 .bee-block-12 a,
.bee-row-22 .bee-col-2 .bee-block-14 a,
.bee-row-22 .bee-col-2 .bee-block-2 a,
.bee-row-22 .bee-col-2 .bee-block-4 a,
.bee-row-22 .bee-col-2 .bee-block-6 a,
.bee-row-22 .bee-col-3 .bee-block-10 a,
.bee-row-22 .bee-col-3 .bee-block-12 a,
.bee-row-22 .bee-col-3 .bee-block-14 a,
.bee-row-22 .bee-col-3 .bee-block-2 a,
.bee-row-22 .bee-col-3 .bee-block-4 a,
.bee-row-22 .bee-col-3 .bee-block-6 a,
.bee-row-24 .bee-col-1 .bee-block-10 a,
.bee-row-24 .bee-col-1 .bee-block-2 a,
.bee-row-24 .bee-col-1 .bee-block-4 a,
.bee-row-24 .bee-col-1 .bee-block-7 a,
.bee-row-24 .bee-col-2 .bee-block-10 a,
.bee-row-24 .bee-col-2 .bee-block-2 a,
.bee-row-24 .bee-col-2 .bee-block-5 a,
.bee-row-24 .bee-col-2 .bee-block-6 a,
.bee-row-24 .bee-col-2 .bee-block-9 a,
.bee-row-24 .bee-col-3 .bee-block-2 a,
.bee-row-4 .bee-col-2 .bee-block-2 a,
.bee-row-4 .bee-col-2 .bee-block-3 a,
.bee-row-4 .bee-col-2 .bee-block-5 a,
.bee-row-5 .bee-col-2 .bee-block-1 a,
.bee-row-5 .bee-col-2 .bee-block-11 a,
.bee-row-5 .bee-col-2 .bee-block-3 a,
.bee-row-5 .bee-col-2 .bee-block-5 a,
.bee-row-5 .bee-col-2 .bee-block-7 a,
.bee-row-5 .bee-col-2 .bee-block-9 a,
.bee-row-7 .bee-col-1 .bee-block-4 a,
.bee-row-7 .bee-col-1 .bee-block-6 a,
.bee-row-7 .bee-col-2 .bee-block-4 a,
.bee-row-7 .bee-col-2 .bee-block-6 a,
.bee-row-7 .bee-col-3 .bee-block-4 a,
.bee-row-7 .bee-col-3 .bee-block-6 a,
.bee-row-9 .bee-col-2 .bee-block-2 a {
    color: #0068A5
}

.bee-row-11 .bee-col-2 .bee-block-1 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-11 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-7 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-9 p:not(:last-child),
.bee-row-12 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-12 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-12 .bee-col-2 .bee-block-8 p:not(:last-child),
.bee-row-14 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-14 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-14 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-14 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-14 .bee-col-3 .bee-block-5 p:not(:last-child),
.bee-row-15 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-15 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-15 .bee-col-3 .bee-block-3 p:not(:last-child),
.bee-row-15 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-16 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-16 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-18 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-2 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-20 .bee-col-2 .bee-block-1 p:not(:last-child),
.bee-row-20 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-22 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-10 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-12 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-14 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-16 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-6 p:not(:last-child),
.bee-row-22 .bee-col-2 .bee-block-8 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-10 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-12 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-14 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-16 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-2 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-6 p:not(:last-child),
.bee-row-22 .bee-col-3 .bee-block-8 p:not(:last-child),
.bee-row-24 .bee-col-1 .bee-block-10 p:not(:last-child),
.bee-row-24 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-24 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-24 .bee-col-1 .bee-block-7 p:not(:last-child),
.bee-row-24 .bee-col-2 .bee-block-10 p:not(:last-child),
.bee-row-24 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-24 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-24 .bee-col-2 .bee-block-6 p:not(:last-child),
.bee-row-24 .bee-col-2 .bee-block-9 p:not(:last-child),
.bee-row-24 .bee-col-3 .bee-block-2 p:not(:last-child),
.bee-row-4 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-4 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-4 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-1 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-11 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-5 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-7 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-9 p:not(:last-child),
.bee-row-7 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-7 .bee-col-1 .bee-block-6 p:not(:last-child),
.bee-row-7 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-7 .bee-col-2 .bee-block-6 p:not(:last-child),
.bee-row-7 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-7 .bee-col-3 .bee-block-6 p:not(:last-child),
.bee-row-9 .bee-col-2 .bee-block-2 p:not(:last-child) {
    margin-bottom: undefined
}

.bee-row-2 .bee-col-2 .bee-block-1 li {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px
}

.bee-row-4 .bee-col-2 .bee-block-2,
.bee-row-4 .bee-col-2 .bee-block-3 {
    color: #555555;
    font-size: 50px;
    line-height: 120%;
    text-align: left
}

.bee-row-4 .bee-col-2 .bee-block-5 {
    color: #555555;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 20px;
    line-height: 120%;
    text-align: left
}

.bee-row-11 .bee-col-2 .bee-block-1,
.bee-row-11 .bee-col-2 .bee-block-5,
.bee-row-11 .bee-col-2 .bee-block-9,
.bee-row-12 .bee-col-2 .bee-block-2,
.bee-row-12 .bee-col-2 .bee-block-5,
.bee-row-12 .bee-col-2 .bee-block-8,
.bee-row-14 .bee-col-2 .bee-block-5,
.bee-row-14 .bee-col-3 .bee-block-5,
.bee-row-15 .bee-col-2 .bee-block-4,
.bee-row-15 .bee-col-3 .bee-block-4,
.bee-row-20 .bee-col-2 .bee-block-1,
.bee-row-22 .bee-col-2 .bee-block-12,
.bee-row-22 .bee-col-2 .bee-block-4,
.bee-row-22 .bee-col-3 .bee-block-12,
.bee-row-22 .bee-col-3 .bee-block-4,
.bee-row-24 .bee-col-1 .bee-block-2,
.bee-row-24 .bee-col-2 .bee-block-2,
.bee-row-24 .bee-col-3 .bee-block-2,
.bee-row-5 .bee-col-2 .bee-block-1,
.bee-row-5 .bee-col-2 .bee-block-5,
.bee-row-5 .bee-col-2 .bee-block-9 {
    color: #555555;
    font-size: 28px;
    line-height: 120%;
    text-align: left
}

.bee-row-11 .bee-col-2 .bee-block-11,
.bee-row-11 .bee-col-2 .bee-block-3,
.bee-row-11 .bee-col-2 .bee-block-7,
.bee-row-16 .bee-col-2 .bee-block-2,
.bee-row-20 .bee-col-2 .bee-block-3,
.bee-row-24 .bee-col-1 .bee-block-4,
.bee-row-24 .bee-col-1 .bee-block-7,
.bee-row-24 .bee-col-2 .bee-block-5,
.bee-row-24 .bee-col-2 .bee-block-9,
.bee-row-5 .bee-col-2 .bee-block-11,
.bee-row-5 .bee-col-2 .bee-block-3,
.bee-row-5 .bee-col-2 .bee-block-7 {
    color: #555555;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    line-height: 120%;
    text-align: left
}

.bee-row-7 .bee-col-1 .bee-block-4,
.bee-row-7 .bee-col-2 .bee-block-4,
.bee-row-7 .bee-col-3 .bee-block-4 {
    color: #555555;
    font-size: 28px;
    line-height: 120%;
    text-align: center
}

.bee-row-7 .bee-col-1 .bee-block-6,
.bee-row-7 .bee-col-2 .bee-block-6,
.bee-row-7 .bee-col-3 .bee-block-6 {
    color: #555555;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center
}

.bee-row-18 .bee-col-2 .bee-block-2,
.bee-row-9 .bee-col-2 .bee-block-2 {
    color: #555555;
    font-size: 28px;
    line-height: 200%;
    text-align: left
}

@media (max-width:768px) {
    .bee-desktop_hide {
        display: block !important
    }

    .bee-form form {
        width: 100% !important
    }

    .bee-mobile_hide {
        display: none
    }

    .bee-row-content:not(.no_stack) {
        display: block
    }

    .bee-row-5 .bee-col-1,
    .bee-row-5 .bee-col-3 .bee-block-1,
    .bee-row-7 .bee-col-1 .bee-block-4,
    .bee-row-7 .bee-col-2 .bee-block-4,
    .bee-row-7 .bee-col-3 .bee-block-4 {
        padding: 0 !important
    }

    .bee-row-5 .bee-col-2 {
        padding: 40px 0 0 !important
    }

    .bee-row-5 .bee-col-3 {
        padding: 60px 0 0 !important
    }

    .bee-row-2 .bee-col-1 .bee-block-2,
    .bee-row-7 .bee-col-1 .bee-block-6,
    .bee-row-7 .bee-col-3 .bee-block-6 {
        padding: 10px !important
    }

    .bee-row-2 .bee-col-2 .bee-block-1 {
        padding: 15px 0 0 !important
    }

    .bee-row-5 .bee-col-3 .bee-block-1 img {
        float: none !important;
        margin: 0 auto !important
    }

    .bee-row-7 .bee-col-2 .bee-block-6 {
        padding: 5px !important
    }

    .bee-row-12 .bee-col-2 .bee-block-9 {
        padding: 10px 10px 0 !important
    }

    .bee-row-12 .bee-col-2 .bee-block-9 .bee-separator {
        margin: auto !important;
        float: right !important
    }
}

.bee-row-14 .bee-col-1 .bee-block-2,
.bee-row-16 .bee-col-1 .bee-block-2,
.bee-row-22 .bee-col-1 .bee-block-2 {
    color: #555555;
    font-size: 50px;
    line-height: 120%;
    text-align: center
}

.bee-row-14 .bee-col-2 .bee-block-4,
.bee-row-14 .bee-col-3 .bee-block-4,
.bee-row-15 .bee-col-2 .bee-block-3,
.bee-row-15 .bee-col-3 .bee-block-3,
.bee-row-22 .bee-col-2 .bee-block-10,
.bee-row-22 .bee-col-2 .bee-block-2,
.bee-row-22 .bee-col-3 .bee-block-10,
.bee-row-22 .bee-col-3 .bee-block-2,
.bee-row-24 .bee-col-1 .bee-block-10,
.bee-row-24 .bee-col-2 .bee-block-10,
.bee-row-24 .bee-col-2 .bee-block-6 {
    color: #555555;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    line-height: 120%;
    text-align: justify
}

.bee-row-22 .bee-col-2 .bee-block-14,
.bee-row-22 .bee-col-2 .bee-block-16,
.bee-row-22 .bee-col-2 .bee-block-6,
.bee-row-22 .bee-col-2 .bee-block-8,
.bee-row-22 .bee-col-3 .bee-block-14,
.bee-row-22 .bee-col-3 .bee-block-16,
.bee-row-22 .bee-col-3 .bee-block-6,
.bee-row-22 .bee-col-3 .bee-block-8 {
    color: #555555;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: justify
}

.bee-row-22 .bee-col-2 .bee-block-16 a,
.bee-row-22 .bee-col-2 .bee-block-8 a,
.bee-row-22 .bee-col-3 .bee-block-16 a,
.bee-row-22 .bee-col-3 .bee-block-8 a {
    color: #000000
}

.bee-row-25 .bee-col-1 .bee-block-1 .bee-icon-image {
    padding: 5px 6px 5px 5px
}

.bee-row-25 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
    margin-left: 0
}

.bee-row-25 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-20 .bee-col-2 .bee-block-4 form {
    display: inline-block;
    width: undefined
}

.bee-row-20 .bee-col-2 .bee-block-4 div.label,
.bee-row-20 .bee-col-2 .bee-block-4 label {
    color: #000000;
    font-weight: 700;
    line-height: 200%;
    text-align: left;
    display: block
}

.bee-row-20 .bee-col-2 .bee-block-4 ::-webkit-input-placeholder {
    color: #000000
}

.bee-row-20 .bee-col-2 .bee-block-4 :-moz-placeholder {
    color: #000000
}

.bee-row-20 .bee-col-2 .bee-block-4 ::-moz-placeholder {
    color: #000000
}

.bee-row-20 .bee-col-2 .bee-block-4 :-ms-input-placeholder {
    color: #000000
}

.bee-row-20 .bee-col-2 .bee-block-4 .bee-field>label:first-child,
.bee-row-20 .bee-col-2 .bee-block-4 div.label {
    padding: 3px
}

.bee-row-20 .bee-col-2 .bee-block-4 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-radius: 0;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    padding: 5px;
    min-height: 40px
}

.bee-row-20 .bee-col-2 .bee-block-4 input:not([type=checkbox]):not([type=radio]):focus {
    outline-color: #000000
}

.bee-row-20 .bee-col-2 .bee-block-4 button {
    background-color: #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-radius: 0;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #ffffff;
    line-height: 200%;
    padding: 5px;
    width: 100%
}

.bee-row-20 .bee-col-2 .bee-block-4 .bee-button-container {
    padding-bottom: 5px;
    padding-top: 20px;
    text-align: center
}
